################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TicketsMicroservice/TicketsMicroservice/obj
/UsersMicroService/UserTests/bin/Debug/netcoreapp3.1
/TicketsMicroservice/TicketsMicroservice/bin/Debug/netcoreapp3.1
