################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TicketsMicroservice/TicketsMicroservice/obj
/TicketsMicroservice/TicketsMicroservice/bin/Debug/netcoreapp3.1
/TicketsMicroservice/TicketServiceTests/obj/Debug/netcoreapp3.1
/TicketsMicroservice/TicketServiceTests/obj/Release/netcoreapp3.1
/TicketsMicroservice/TicketServiceTests/obj
/TicketsMicroservice/TicketServiceTests/bin/Debug/netcoreapp3.1
/TicketsMicroservice/.vs/TicketsMicroservice/v16/TestStore/0
/UsersMicroService/UsersMicroService/obj
/UsersMicroService/UserTests/obj
/UsersMicroService/.vs/UsersMicroService/v16/TestStore/0
/UsersMicroService/UsersMicroService/obj/Debug/netcoreapp3.1
/UsersMicroService/UsersMicroService/bin/Debug/netcoreapp3.1
/UsersMicroService/UsersMicroService/UserTests/obj/Debug/netcoreapp3.1
/UsersMicroService/UsersMicroService/UserTests/bin/Debug/netcoreapp3.1
/UsersMicroService/UserTests/obj/Debug/netcoreapp3.1
/UsersMicroService/UserTests/bin/Debug/netcoreapp3.1
