################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TicketsMicroservice/TicketsMicroservice/obj
/TicketsMicroservice/TicketsMicroservice/obj/*
/TicketsMicroservice/TicketsMicroservice/bin
/TicketsMicroservice/TicketsMicroservice/bin/*
/TicketsMicroservice/TicketServiceTests/obj
/TicketsMicroservice/TicketServiceTests/obj/*
/TicketsMicroservice/TicketServiceTests/bin
/TicketsMicroservice/TicketServiceTests/bin/*
/TicketsMicroservice/.vs/TicketsMicroservice/v16/TestStore/0
/UsersMicroService/UsersMicroService/obj
/UsersMicroService/UsersMicroService/obj/*
/UsersMicroService/UserTests/obj
/UsersMicroService/UserTests/obj/*
/UsersMicroService/.vs/UsersMicroService/v16/TestStore/0
/UsersMicroService/UsersMicroService/bin
/UsersMicroService/UsersMicroService/bin/*
/UsersMicroService/UsersMicroService/UserTests/obj
/UsersMicroService/UsersMicroService/UserTests/obj/*
/UsersMicroService/UsersMicroService/UserTests/bin
/UsersMicroService/UsersMicroService/UserTests/bin/*
/UsersMicroService/UserTests/bin
/UsersMicroService/UserTests/bin/*