<div class="container my-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h3 class="text-center">Julio Lozada - FullStack Developer</h3>
          </div>
          <div class="card-body">
            <p class="card-text">With 8 years of experience as a Full-Stack Developer and expertise in C# and .Net Framework/.Net Core, I am confident that I can bring value to your team.</p>
            <p class="card-text">I have a solid understanding of React and Angular, as well as experience with microservices, SQL Server, and unit testing with NUnit and XUnit. I am also certified as a Google Cloud Data Engineer and Azure Developer, demonstrating my commitment to keeping up with the latest technologies.</p>
            <p class="card-text">In my previous roles at AgileThought, Globant, Akaan Transamerica, and Softtek, I have developed my skills in agile methodologies, database design, and as a full stack developer. I have a B.S. in Software Engineering and can work in a fast-paced environment to meet tight deadlines.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
